.idea
*.iml
*.o

// exclude every filename without file extension (mostly the compiled binaries)
// see: https://stackoverflow.com/a/19023985/6104519
// from: https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
*
!/**/
!*.*

