.idea
*.iml
*.o

// exclude every filename without file extension (mostly the compiled binaries)
// see: https://stackoverflow.com/a/29031790/6104519
// from this: https://stackoverflow.com/questions/29031667/regular-expression-to-match-no-extension-file-name-string
\s*[^.]+$

